<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Details</title>
</head>
<body>
    <h2> Game User Details </h2>
    <form action = "/save_user" method = "post">
        <table>
            <tr>
                <td> Name </td> <td> <input type = "text" name = "name"></td>
            </tr>
            <tr>
                <td> Address </td> <td> <input type = "text" name = "address"></td>
            </tr>
            <tr>
                <td> Standard </td> <td> <input type = "text" name = "std"></td>
            </tr>
            <tr>
                <td> <input type="submit" value = "Add">  </td>
            </tr>
        </table>
    </form>
<a href="/">Go back to home page</a>
</body>
</html>