<!DOCTYPE html>
<html lang="en">
<head>
      <style>
    .center {
      text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>DeleteUserName</title>
</head>
<body>
      <h2> Deletion of User </h2>
      <form action="/deleteUsername" method = "post">
          <h3> Enter user to be deleted </h3> <h3><input type="text" name="username"></h3>
          <h2><input type="submit" value = "Delete">  </h2> <br>

          <a href="/">Go to Home Page</a>
      </form>
</body>
</html>