<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .center {
      text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>Enter User Name </title>
</head>
<body>
    <div class="left">
      <h2> Maths Quiz for Children :: Enter your User Name </h2>
      <form action = "/showStd" method = "post">
        <table>
                    <tr>
                        <td> Enter User Name   <input type = "text" name ="username1"></td>
                    </tr>
                    <tr>
                        <td> <input type="submit" value = "Submit">  </td>
                    </tr>
        </table>
      </form>
    </div>
</body>
</html>