<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .center {
      text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>GAME_HOME_PAGE</title>
</head>
<body>
    <div class="center">
         <h1> Hi, Welcome to Maths Quiz for Children </h1>
         <a href="/add_user_details"> Add User Details </a>  <br>
         <a href="/enterUserName"> START QUIZ </a> <br>
         <a href="/view_results"> View Current Results </a> <br>
         <a href="/delete_enter_username"> Delete User </a> <br>
    </div>
</body>
</html>