<!DOCTYPE html>
<html lang="en">
<head>
     <style>
    .center {
      text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>QUIZ RESULTS</title>
</head>
<body>
    <div class="center">
        <form action="/" method = "get">
                <h2>Hi User {{username}}  ID#  {{id}} </h2> <br>
                <h2>CONGRATULATIONS !! </h2> <br>
                <h2>Your SCORE is  {{score}} </h2> <br>
            <input type = "submit" name = "HOME">
            <br><a href="/">Go back to home page</a><br>
        </form>
    </div>
</body>
</html>