<!DOCTYPE html>
<html lang="en">
<head>
     <style>
    .center {
      text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>Standard</title>
</head>
<body>
<div class="center">
      <form action="/quizQuestion" method = "get">
          <h2> Hi {{username1}} with U_Id  {{u_id}} </h2> <br>
          <h2>You are in Standard {{std}} </h2> <br>
          <h2> Your current score is {{score}} </h2> <br>
          <a href="/quizQuestion">Go to Quiz</a>
      </form>
</div>
</body>
</html>